[workspace]
members = [
    "crates/patcher-cli",
    "crates/patcher-gui",
    "crates/patcher-lib",
]
resolver = "3"

[profile.production]
inherits = "release"
strip = true
lto = true
codegen-units = 1
