[workspace]
members = [
    "crates/patcher-cli", "crates/patcher-common",
    "crates/patcher-gui",
    "crates/patcher-lib", "crates/patcher-terminal",
]
resolver = "3"

[profile.production]
inherits = "release"
strip = true
lto = true
codegen-units = 1
